.pastor-section{

padding:6rem 2rem;

background:var(--color-white);

}



.pastor-container{

max-width:var(--container-width);

margin:auto;

display:grid;

grid-template-columns:1fr 1fr;

gap:4rem;

align-items:center;

}



.pastor-image img{

width:100%;

height:550px;

object-fit:cover;

border-radius:20px;

}



.pastor-label{

text-transform:uppercase;

letter-spacing:3px;

font-weight:600;

color:var(--color-primary);

margin-bottom:1rem;

}



.pastor-content h2{

font-size:clamp(2rem,4vw,3rem);

color:var(--color-dark);

margin-bottom:1rem;

}



.pastor-content h2 span{

color:var(--color-gold);

}



.pastor-content h3{

font-size:1.2rem;

color:var(--color-primary);

margin-bottom:1.5rem;

}



.pastor-content p{

line-height:1.8;

color:var(--color-text);

margin-bottom:1rem;

}



@media(max-width:900px){


.pastor-container{

grid-template-columns:1fr;

}



.pastor-image img{

height:500px;

}


}