.header{

position:fixed;

top:0;

left:0;

width:100%;

z-index:1000;

background:rgba(4,25,60,0.80);

backdrop-filter:blur(10px);

}



.header-container{

max-width:1200px;

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

padding:1rem 2rem;

}



.logo{

font-size:1.5rem;

font-weight:700;

color:white;

}



.menu-toggle{

display:none;

background:none;

border:none;

cursor:pointer;

}



.menu-toggle span{

display:block;

width:25px;

height:3px;

background:white;

margin:5px;

border-radius:5px;

}



.header-give{

display:block;

}

.header-logo {
width:85px;

height:auto;

display:block;

object-fit:contain;
}

@media(max-width:768px){


.header-container{

padding:1rem;

}



.menu-toggle{

display:block;

}



.header-give{

display:none;

}


}