.navbar ul{

display:flex;

list-style:none;

gap:1.5rem;

}


.navbar a{

text-decoration:none;

color:white;

font-weight:500;

transition:0.3s;

}


.navbar a:hover{

color:#c9a227;

}

@media(max-width:768px){


.navbar{

position:absolute;

top:70px;

left:0;

width:100%;

background:rgba(4,25,60,0.90);

display:none;

}



.navbar.active{

display:block;

}



.navbar ul{

flex-direction:column;

align-items:center;

padding:2rem 0;

gap:1.5rem;

}


}