.hero {

min-height: 90vh;

display:flex;

align-items:center;

justify-content:center;

position:relative;

background-size:cover;

background-position:center;

background-repeat:no-repeat;

color:white;

text-align:center;

padding:2rem;
padding-top:100px;

}

.hero-logo {

width: 90px;

height:auto;

display:block;

margin:0 auto 1.5rem;

object-fit:contain;

}

.hero-content {

max-width:900px;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

margin:auto;

}


.hero-subtitle {

font-size:1rem;

letter-spacing:2px;

text-transform:uppercase;

color:#d0d7de;

margin-bottom:1rem;

}



.hero h1 {

font-size:clamp(2.2rem,5vw,4.5rem);

line-height:1.15;

margin-bottom:1.5rem;

color:white;

}



.hero-description {

font-size:1.1rem;

max-width:650px;

margin:0 auto 2rem;

line-height:1.7;

color:#e5e7eb;

}



.hero-buttons {

display:flex;

justify-content:center;

gap:1rem;

flex-wrap:wrap;

}



.hero-buttons button {


padding:

14px 28px;


border:none;

cursor:pointer;

font-size:1rem;

font-weight:600;

border-radius:8px;

transition:0.3s ease;

}



.hero-buttons button:first-child {

background:#c9a227;

color:white;

}



.hero-buttons button:last-child {

background:transparent;

border:1px solid white;

color:white;

}



.hero-buttons button:hover {

transform:translateY(-3px);

}



@media(max-width:600px){


.hero {

min-height:80vh;

}

.hero-logo{

width:100px;

}


.hero-description {

font-size:1rem;

}


.hero-buttons {

flex-direction:column;

}



.hero-buttons button {

width:100%;

}

.scroll-indicator{

position:absolute;

bottom:25px;

left:50%;

transform:translateX(-50%);

text-align:center;

color:white;

opacity:0.8;

}


.scroll-indicator {

position:absolute;

bottom:10px;

left:50%;

transform:translateX(-50%);

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

color:white;

text-align:center;

padding-top: 20px;

}


}